body {
    padding: 0;
    margin: 0;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/retina_wood.png");
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px;
}

header,
footer {
    flex: 0 1 auto;
}

main {
    flex: 1;
}

img {
    padding: 10px;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
}

h2 {
    color: #4aaaa5;
}

#personal-photo {
    float: left;
}

#name-tag {
    margin: 10px 0px 0px 0px;
    padding: 15px;
}

#container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
}

#leftnav {
    float: left;
    
}

#rightnav {
    float: right;
}

#navbar {
    
}

#navbar li {
    display: inline;
}

#container {
    background-color: #ffffff;
    border-color: #dddddd;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#nav {
    width: 960px;
    margin: 0 auto;
}

#copyright {}

#bio {}

#contact-form {}

.card {}