body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: 0 1 auto;
}

main {
    flex: 1;
}

h1,
h2 {
    background-color: #4aaaa5;
    color: #ffffff;
}

#personal-photo {
    float: left;
}

#name-tag {
    margin: 10px;
    padding: 10px;
}

#container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

#leftnav {
    float: left;
}

#rightnav {
    float: right;
}

#navbar {
    list-style-type: none;
}

#navbar li {
    display: inline;
}

#container {
    background-color: #ffffff;
    border-color: #dddddd;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#copyright {}

#bio {}

#contact-form {}

.card {}